#feature-b {
  background-color: #f4dc41;
  line-height: 150px;
  height: 150px;
}

#feature-c {
  background-color: #cdf441;
  line-height: 125px;
  height: 125px;
  margin-top: 0;
}

#feature-d {
  background-color: #4ff441;
  line-height: 125px;
  height: 125px;
}

#sub-e, #sub-f, #sub-g, #sub-h  {
  display: inline-block;
  float: left;
  width: 50%;
  line-height: 250px;
  height: 250px;
}



#sub-e {
  background-color: #41f4b8;
}

#sub-f {
  background-color: #41bef4;
}

#sub-g {
  background-color: #414ff4;
}

#sub-h {
  background-color: #9d41f4;
}

@media only screen and (min-width: 800px) {

  header {
    line-height: 100px;
    height: 100px;
  }

  #feature-b {
    float: left;
    background-color: #f4dc41;
    width: 20%;
    line-height: 600px;
    height: 600px;
  }

  #feature-c, #feature-d {
    display: inline-block;
    float: left;
    width: 40%;
    line-height: 250px;
    height: 250px;
  }

  #feature-c {
    background-color: #cdf441;
    line-height: 200px;
    height: 200px;
    margin-top: 0;
  }

  #feature-d {
    background-color: #4ff441;
    line-height: 200px;
    height: 200px;
  }

  #sub-e, #sub-f, #sub-g, #sub-h {

    display: inline-block;
    float: left;
    width: 20%;
    line-height: 250px;
    height: 250px;
  }

  #sub-e {
    background-color: #41f4b8;
  }

  #sub-f {
    background-color: #41bef4;
  }

  #sub-g {
    background-color: #414ff4;
  }

  #sub-h {
    background-color: #9d41f4;
  }

  #footer-block {
    float: right;
    background-color: #f44195;
    width: 80%;
    line-height: 150px;
    height: 150px;
  }
